package main

templ home(yearSince string) {
	@header()
	<body>
		<main class="flex-col justify-center text-center font-medium font-mono items-center">
			<div class="h-screen flex justify-center items-center">
				<div class="text-center">
					<div class="text-2xl text-gray-800 p-2">Hey, I'm Greg</div>
					<div class="text-gray-600">
						{ "{ a software developer, football player, homelab enthusiast, hobby fpv drone pilot } " }
					</div>
					<div class="text-gray-600">
						{ "{ based in Christchurch, New Zealand " }
						[
						<nz-time></nz-time>
						] 
						{ " } " }
					</div>
					<div class="text-gray-700 text-lg mt-2">
						Open to new software development opportunities...
						Only considering fully/mostly remote roles.
					</div>
					<div class="grid grid-cols-1 sm:grid-cols-2 gap-4 mt-6">
						@link("NZCovidMap", "#nzcovidmap") {
							<img src="./img/covid19/icon-512x512.webp" alt="Locations of Interest Explorer Icon" class="h-8 w-8 md:h-12 md:w-12 mx-auto"/>
						}
						@link("Me", "#intro")
						<div class="flex flex-col justify-center border border-gray-300 rounded-md hover:bg-gray-100">
							<a class="flex justify-center items-center h-10" href="#chchwaterreporter">
								<span class="text-xl underline">ChCh Water Reporter</span>
							</a>
							<a class="flex justify-center items-center h-10" href="https://chch-water-reporter.vercel.app" target="_">
								<span class="text-sm underline">chch-water-reporter.vercel.app</span>
							</a>
						</div>
						@link("FPV", "#fpv")
					</div>
				</div>
			</div>
			<div id="about" class="min-h-screen">
				@about(yearSince)
			</div>
			@nzcovidmap()
			@chchWaterReporter()
			@box("Cat Tax", "hopscotch", false) {
				<div>
				<p>this page would be incomplete without a shot of my incredible cat Hopscotch. </p>
			</div>
				<div class="flex justify-center">
					<img src="./img/hoppy.webp" class="rounded-lg shadow-lg" height="800px"/>
				</div>
			}
			@box("Passionate football player", "hopscotch", false) {
				<div>
					<p>I caption a Sunday league team recently promoted to the top division and the Wednesday indoor football team i started recently when 23 games unbeaten (as at 26/9/21) in their third season in the competition. </p>
					<p>I play as much as injuries allow 🤕</p>
				</div>
			}
			



			<button id="backToTop" class="hidden fixed bottom-5 right-5 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded cursor-pointer" onclick="window.scrollTo({top: 0, behavior: &#39;smooth&#39;});">
				&#x2191;
			</button>
			<div style="height: 1600px"></div>
			<div class="py-4"><div class="text-3xl text-center"></div><div class="border border-black p-4"><div class="text-center">If you made it this far, you must be keen.</div><div class="text-center w-full"><a class="underline text-2xl" href="mailto:ghcumming01@gmail.com">Get in touch</a></div></div></div>
			<script>
					const backToTopButton = document.getElementById('backToTop');

						window.addEventListener('scroll', () => {
							if (window.pageYOffset > 100) {
								backToTopButton.classList.remove('hidden');
							} else {
								backToTopButton.classList.add('hidden');
							}
						});

					class NzTime extends HTMLElement {
						constructor() {
						super();
						this.innerHTML = "Loading time...";
						}

						connectedCallback() {
						this.updateTimeAndEmoji();
						// Update every minute
						this.intervalId = setInterval(() => this.updateTimeAndEmoji(), 60000);
						}

						disconnectedCallback() {
						clearInterval(this.intervalId);
						}

						updateTimeAndEmoji() {
						const nzTime = new Date().toLocaleTimeString('en-NZ', { timeZone: 'Pacific/Auckland' });
						const hour = new Date().toLocaleString('en-NZ', { timeZone: 'Pacific/Auckland', hour: '2-digit', hour12: false });
						const emoji = hour >= 6 && hour < 18 ? '☀️' : '🌙'; // Sun from 6am to 6pm, otherwise Moon
						this.innerHTML = `${nzTime} ${emoji}`;
						}
					}

					customElements.define('nz-time', NzTime);
			</script>
			<scroll-tracker></scroll-tracker>
		</main>
	</body>
}

