package main

templ home(yearSince string) {
	@header()
	<body>
		<main class="flex-col justify-center text-center font-medium font-mono items-center mt-6">
			<div class="flex justify-center items-center">
				<div class="text-center">
					<div class="text-2xl text-gray-800 p-2">Hey, I'm Greg</div>
					<div class="text-gray-600 m-2">
						{ "{ a software developer, football player, homelab enthusiast, and hobby fpv drone pilot } " }
					</div>
					<div class="text-gray-600">
						{ "{ based in Christchurch, New Zealand " }
						[
						<nz-time></nz-time>
						] 
						{ " } " }
					</div>
					<div class="text-gray-700 text-lg mt-2">
						Open to new software development opportunities...
						Only considering fully/mostly remote roles.
					</div>
					<div class="grid grid-cols-1 sm:grid-cols-2 gap-4 mt-6">
						@box("", "link-covid", "smaller"){
							@link("NZCovidMap", "#nzcovidmap", "extenal") {
								<img src="./img/covid19/icon-512x512.webp" alt="Locations of Interest Explorer Icon" class="h-8 w-8 md:h-12 md:w-12 mx-auto"/>
								<p class="my-4 text-lg text-gray-500">A mobile friendly view map view of Covid-19 Locations of Interest published by the NZ Govt during the pandemic - visited via over 100,000 Kiwis over the course of the pandemic</p>
							}
							@git("https://github.com/KiwiKid/LocationOfInterestExplorer")
						}

					
						@box("", "link-me", "smaller") {
							@link("Me", "#intro", "")
						}


						@box("", "hx-tom-select", "smaller"){
							@link("hx-tom-select", "#hx-tom-select", "") {
								<p class="my-4 text-lg text-gray-500">HTMX extention that renders TomSelect input boxes via html attribute configuration</p>
							}
							@git("https://github.com/KiwiKid/hx-tomselect")
						}


						@box("", "Sports Team Fines", "smaller"){
							@link("Sports Team Fines", "https://sports-team-fines.fly.dev/", "") {
								<p class="my-4 text-lg text-gray-500">A simple mobile-first golang application for tracking games and seasonal fines for a sports team, can be self-hosted via docker</p>
							}
							@git("https://github.com/KiwiKid/baileys-hammer")
						}
						

						@box("", "Christchurch Water Reporter", "smaller"){
							@link("Christchurch Water Reporter", "https://chch-water-reporter.vercel.app", "") {
								<p class="my-4 text-lg text-gray-500">Experiment in mapping water usage across Christchurch, New Zealand</p>
							}
							@git("https://github.com/KiwiKid/chch-water-reporter")
						}

						@box("", "link-fpv", "smaller"){
							@link("FPV", "#fpv", "")
						}
					</div>
				</div>
			</div>
			<div id="about" class="flex-1">
				@about(yearSince)
			</div>
			@nzcovidmap()
			@chchWaterReporter()
			@box("Passionate football player", "hopscotch", "bigger") {
				<div>
					<p>I caption a Sunday league team recently promoted to the top division and the Wednesday indoor football team i started recently when 23 games unbeaten (as at 26/9/21) in their third season in the competition. </p>
					<p>I play as much as injuries allow 🤕</p>
				</div>
			}
			



			<button id="backToTop" class="hidden fixed bottom-5 right-5 bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded cursor-pointer" onclick="window.scrollTo({top: 0, behavior: &#39;smooth&#39;});">
				&#x2191;
			</button>
			<div style="height: 1600px mb-12"></div>
			@box("", "link-contact", "smaller"){
				<div class="py-4"><div class="text-3xl text-center"></div><div class="border border-black p-4"><div class="text-center">If you made it this far, you must be keen.</div><div class="text-center w-full"><a class="underline text-2xl" href="mailto:ghcumming01@gmail.com">Get in touch</a></div></div></div>
			}
			<script>
					const backToTopButton = document.getElementById('backToTop');

						window.addEventListener('scroll', () => {
							if (window.pageYOffset > 100) {
								backToTopButton.classList.remove('hidden');
							} else {
								backToTopButton.classList.add('hidden');
							}
						});

					class NzTime extends HTMLElement {
						constructor() {
						super();
						this.innerHTML = "Loading time...";
						}

						connectedCallback() {
						this.updateTimeAndEmoji();
						// Update every minute
						this.intervalId = setInterval(() => this.updateTimeAndEmoji(), 60000);
						}

						disconnectedCallback() {
						clearInterval(this.intervalId);
						}

						updateTimeAndEmoji() {
						const nzTime = new Date().toLocaleTimeString('en-NZ', { timeZone: 'Pacific/Auckland' });
						const hour = new Date().toLocaleString('en-NZ', { timeZone: 'Pacific/Auckland', hour: '2-digit', hour12: false });
						const emoji = hour >= 6 && hour < 18 ? '☀️' : '🌙'
						this.innerHTML = `${nzTime} ${emoji}`;
						}
					}

					customElements.define('nz-time', NzTime);
			</script>
			<scroll-tracker></scroll-tracker>
		</main>
	</body>
}

