package main

templ nzcovidmap() {
	@box("NZCovidMap", "nzcovidmap", "bigger") {
		<div>
			<img src="./img/covid19/icon-512x512.webp" alt="Locations of Interest Explorer Icon" class="h-16 w-16 md:h-24 md:w-24 mx-auto"/>
			<p>Over the course of the pandemic, the NZCovidMap reached over 200,000 Kiwis across New Zealand, with a peak of 15,000 daily unique visitors. This tool provided people with a mobile-friendly view of Covid-19 Locations of Interest published by the NZ Ministry of Health. </p>
			<ul>
				<li>- 4.5k users in the first month</li>
				<li>- Circle-based location selection method</li>
				<li>A Mobile-friendly map view</li>
				<li>- Location specific url pathing query params + "share link to location"</li>
			
				<li>- Generation of location-specific meta screenshots for engaging social media preview images.</li>
				<li>- Reddit Integration - Including Auto-Generate & Update of a "Location of Interest summary" for each subreddit & auto-post/update posts in relevant subreddit</li>
			</ul>
		</div>
		<div class="flex justify-center">
			<img class="rounded-lg shadow-lg" src="./img/covid19/covid_desktop.webp" alt="NZCovidMap Screenshot"/>
		</div>
		@subbox("Auto updates") {
			<p>Each hour, the application would check for new locations in specific communities and (if a sub-reddit exists) posts for any new locations in a standard post format.</p>
			<img src="./img/covid19/covid-reddit.png" class="rounded-lg shadow-lg" height="800px"/>
		}
		
		@subbox("Goals") {
			<div class="flex flex-col md:flex-row text-left">
				<div class="flex-1 p-4">
					<ul class="list-inside list-disc">
						<li>Provide a Mobile-friendly view of Locations of Interest</li>
						<li>Raise awareness of Locations of Interests in our community.</li>
						<li>Lower anxiety for those seeking updates about their community.</li>
					</ul>
					<h1 class="text-2xl font-bold mt-4">Tech</h1>
					<ul class="list-inside list-disc mb-4">
						<li>Up-to-date social Media sharing icons created for each town/city</li>
					</ul>
					@subbox("Design") {
						<ul class="list-inside list-disc">
							<li>An n8n workflow that reads the CSV file published by the MoH. Locations are then categorized and saved.</li>
							<li>An n8n workflow endpoint that returns all the locations in the last 30 days.</li>
							<li>A statically rendered Next.JS site that is published each hour. A mobile-friendly interactive map with all locations marked.</li>
							<li>A hourly job to build sub-reddit content and sent updates to places with new/updated Locations of Interest.</li>
						</ul>
						<h1 class="text-2xl font-bold mt-4">Why so complex?</h1>
						<ul class="list-inside list-disc">
							<p>To reduce the complexity, cost and on-going maintenance cost of the application, i removed the n8n workflow the Next.JS site build on and replaced it with direct calls to the MoH API.</p>
							<p>This allowed the site to be fully independent of my own local infrastructure and for its whole lifetime, run entirely for free on Vercel</p>
						</ul>
					}
				</div>
				<div class="flex-1 p-4">
					<img src="./img/covid19/nzcovid_2.webp" class="rounded-lg shadow-lg max-w-full h-auto" />
				</div>
			</div>

			
		}
		
	}

}
